{:allow-parallel? true,
 :undirected? true,
 :nodes [[:customer-id {:type :data, :color :green}]
         [:get-currently-owned-real-estate {:type :action, :color :blue}]
         [:amortization {:type :data, :color :green}]
         [:create-collateral-link {:type :action, :color :blue}]
         [:system {:type :role, :color :orange}]
         [:loan-details {:type :data, :color :green}]
         [:customer-info {:type :data, :color :green}]
         [:fetch-supplimentary-info {:type :action, :color :blue}]
         [:credit-application-reference {:type :data, :color :green}]
         [:produce-credit-application-document {:type :action, :color :blue}]
         [:add-collateral {:type :action, :color :blue}]
         [:collateral-link {:type :data, :color :green}]
         [:consent-to-IR {:type :action, :color :blue}]
         [:sign-credit-application-document {:type :action, :color :blue}]
         [:consent {:type :data, :color :green}]
         [:credit-application-signature {:type :data, :color :green}]
         [:add-loan-details {:type :action, :color :blue}]
         [:collateral {:type :data, :color :green}]
         [:know-your-customer-data {:type :data, :color :green}]
         [:add-economy {:type :action, :color :blue}]
         [:calculate-amortization {:type :action, :color :blue}]
         [:applicant {:type :role, :color :orange}]
         [:officer {:type :role, :color :orange}]
         [:know-your-customer {:type :action, :color :blue}]
         [:case-id {:type :data, :color :green}]
         [:create-case {:type :action, :color :blue}]
         [:economy {:type :data, :color :green}]
         [:currently-owned-real-estate {:type :data, :color :green}]],
 :directed-edges [[:get-currently-owned-real-estate
                   :currently-owned-real-estate
                   {:association :produces, :color :green, :label "produces"}]
                  [:get-currently-owned-real-estate :consent {:association :requires, :color :red, :label "requires"}]
                  [:create-collateral-link :collateral-link {:association :produces, :color :green, :label "produces"}]
                  [:create-collateral-link
                   :currently-owned-real-estate
                   {:association :requires, :color :red, :label "requires"}]
                  [:create-collateral-link :loan-details {:association :requires, :color :red, :label "requires"}]
                  [:create-collateral-link :collateral {:association :requires, :color :red, :label "requires"}]
                  [:system :fetch-supplimentary-info {:association :performs, :color :orange, :label "does"}]
                  [:system :know-your-customer {:association :performs, :color :orange, :label "does"}]
                  [:system :get-currently-owned-real-estate {:association :performs, :color :orange, :label "does"}]
                  [:system :calculate-amortization {:association :performs, :color :orange, :label "does"}]
                  [:fetch-supplimentary-info :customer-info {:association :produces, :color :green, :label "produces"}]
                  [:fetch-supplimentary-info :consent {:association :requires, :color :red, :label "requires"}]
                  [:produce-credit-application-document
                   :credit-application-reference
                   {:association :produces, :color :green, :label "produces"}]
                  [:produce-credit-application-document
                   :customer-info
                   {:association :requires, :color :red, :label "requires"}]
                  [:produce-credit-application-document
                   :loan-details
                   {:association :requires, :color :red, :label "requires"}]
                  [:produce-credit-application-document
                   :amortization
                   {:association :requires, :color :red, :label "requires"}]
                  [:produce-credit-application-document
                   :currently-owned-real-estate
                   {:association :requires, :color :red, :label "requires"}]
                  [:produce-credit-application-document
                   :collateral
                   {:association :requires, :color :red, :label "requires"}]
                  [:produce-credit-application-document
                   :collateral-link
                   {:association :requires, :color :red, :label "requires"}]
                  [:add-collateral :collateral {:association :produces, :color :green, :label "produces"}]
                  [:add-collateral :case-id {:association :requires, :color :red, :label "requires"}]
                  [:consent-to-IR :consent {:association :produces, :color :green, :label "produces"}]
                  [:consent-to-IR :customer-id {:association :requires, :color :red, :label "requires"}]
                  [:sign-credit-application-document
                   :credit-application-signature
                   {:association :produces, :color :green, :label "produces"}]
                  [:sign-credit-application-document
                   :credit-application-reference
                   {:association :requires, :color :red, :label "requires"}]
                  [:add-loan-details :loan-details {:association :produces, :color :green, :label "produces"}]
                  [:add-loan-details :case-id {:association :requires, :color :red, :label "requires"}]
                  [:add-economy :economy {:association :produces, :color :green, :label "produces"}]
                  [:add-economy :customer-id {:association :requires, :color :red, :label "requires"}]
                  [:calculate-amortization :amortization {:association :produces, :color :green, :label "produces"}]
                  [:calculate-amortization :economy {:association :requires, :color :red, :label "requires"}]
                  [:calculate-amortization :collateral-link {:association :requires, :color :red, :label "requires"}]
                  [:applicant :create-case {:association :performs, :color :orange, :label "does"}]
                  [:applicant :consent-to-IR {:association :performs, :color :orange, :label "does"}]
                  [:applicant :add-economy {:association :performs, :color :orange, :label "does"}]
                  [:applicant :add-loan-details {:association :performs, :color :orange, :label "does"}]
                  [:applicant :add-collateral {:association :performs, :color :orange, :label "does"}]
                  [:applicant :create-collateral-link {:association :performs, :color :orange, :label "does"}]
                  [:applicant :sign-credit-application-document {:association :performs, :color :orange, :label "does"}]
                  [:know-your-customer
                   :know-your-customer-data
                   {:association :produces, :color :green, :label "produces"}]
                  [:know-your-customer :consent {:association :requires, :color :red, :label "requires"}]
                  [:create-case :customer-id {:association :produces, :color :green, :label "produces"}]
                  [:create-case :case-id {:association :produces, :color :green, :label "produces"}]],
 :undirected-edges []}